{% extends 'basic.html' %}
{% block title %} {{product.product_name}} -- My Awesome Cart{% endblock %}
{% block body %}
<div class="container my-4">
    <div class="row">
    <div class="col-md-4">
    <div class="row">
       <img src="/media//{{product.image}}" width="300px" height="400px">
    </div>
        </div>
    <div class="col-md-8">
        <h5>{{product.product_name}}</h5>
        <p>{{product.publish_date}}</p>
    </div>
        </div>
</div>

<div class="row">
    {% comment %} <button class="btn btn-primary mx-2"> Buy Now</button> {% endcomment %}
    <button class="btn btn-primary cart" id="pr{{i.product_id}}">Add</button>
</div>
<div class="col-md-12">
    <h5>{{product.product_name}}</h5>
    <p><b> Rs. {{product.price}}</b></p>
    <p>{{product.desc}}</p>
</div>
{% endblock %}

{%block js%}
    console.log('working');
    
    if(localStorage.getItem('cart') == null){
    var cart = {};
    }
    
    else
    {
    cart = JSON.parse(localStorage.getItem('cart'));
    }
    
    $('.cart').click(function(){
    
    console.log('clicked');
    var idstr = this.id.toString();
    console.log(idstr);
    if (cart[idstr] !=undefined){
    cart[idstr] = cart[idstr] + 1;
    }
    else
    {
    cart[idstr] = 1;
    }
    console.log(cart);
    localStorage.setItem('cart', JSON.stringify(cart));
    });


    {%endblock%}